{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title 'Administration de BackHabbo' %}

{% block main %}
    <style>
        p { max-width: 600px; }
    </style>


    <p>
        Bienvenue sur l'administration de BackHabbo.
        <br>
        Celle-ci a été réalisé par Zorked avec EasyAdmin Bundle.
    </p>

    <pre>
    </pre>
{% endblock %}
