{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
<link type="text/css" href="css/settings.css" rel="stylesheet">

<div class="col-4">
    <a href="{{ path('app_settings')}}" id="settings-navigation-box" >
        <div class="png20">
            <i class="far fa-envelope icon"></i>
            <div class="settings-title">E-Mail Adresse ändern</div>
            <div class="settings-desc">Lorem ipsum dolor sit amet,</div>
        </div>
        <div class="clear"></div>
    </a>
    <a href="{{ path('app_settings_password')}}" id="settings-navigation-box" class="selected">
        <div class="png20">
            <i class="far fa-lock-open-alt icon"></i>
            <div class="settings-title">Passwort ändern</div>
            <div class="settings-desc">Lorem ipsum dolor sit amet,</div>
        </div>
        <div class="clear"></div>
    </a>
</div>
<div class="col-8">
    <div class="alert failed">Du musst die Felder ausgefüllt haben.</div>

    <div id="content-box" style="height:570px">
        <div class="title-box png20">
            <div class="title">Passwort ändern</div>
        </div>

        <div class="png20">
            <form method="post">
                <label for="old-password">Altes Password</label>
                <input type="password" id="old-password" name="old_password">
                <div class="desc" style="margin: 0 0 20px 0">Dies benötigen wir, um sicher zu stelllen, dass du der Besitzer des Accounts bist.</div>
                <div class="line"></div>

                <label for="new-password">Neues Password</label>
                <input type="password" id="new-password" name="new_password">
                <div class="desc">Dein neues Passwort sollte wenn möglich mehr als 6 Zeichen beinhalten!.</div>

                <label for="new-password-repeat">Neue E-Mail Adresse wiederholen</label>
                <input type="password" id="new-password-repeat" name="new_password_repeat">
                <div class="desc">Um die Richtigkeit des neuen Passworts zu überprüfen.</div>

                <button class="btn green save">Speichern</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
