{% extends 'base.html.twig' %}




{% block body %}
              

<div class="container">
  <div class="row">
  <div class="col-4"> \
      <div id="content-box">
          <div class="title-box png20">
              <div class="title">News</div>
          </div>
          {% for CmsActualites in allNews %}
          <div class="png20">
              <ul class="news-list">
                  <li><a class="" href="{{ path('show_news', { 'id': CmsActualites.id })}}">{{ CmsActualites.title }}</a></li>
              </ul>
          </div>
          {% endfor %}

      </div>
  </div>



{% endblock %}
