{% extends 'base.html.twig' %}

{% block title %}Edit CmsEvenement{% endblock %}

{% block body %}
    <h1>Edit CmsEvenement</h1>

    {{ include('backoffice/events/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_events_index') }}">back to list</a>

    {{ include('backoffice/events/_delete_form.html.twig') }}
{% endblock %}
