{% extends 'base.html.twig' %}

{% block title %}Edit CmsMusique{% endblock %}

{% block body %}
    <h1>Edit CmsMusique</h1>

    {{ include('backoffice/musique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_backoffice_musique_index') }}">back to list</a>

    {{ include('backoffice/musique/_delete_form.html.twig') }}
{% endblock %}
