{% extends 'base.html.twig' %}

{% block title %}New CmsMusique{% endblock %}

{% block body %}
    <h1>Create new CmsMusique</h1>

    {{ include('backoffice/musique/_form.html.twig') }}

    <a href="{{ path('app_backoffice_musique_index') }}">back to list</a>
{% endblock %}
